<!-- <h1>Chemicals#index</h1>
<p>Find me in app/views/chemicals/index.html.erb</p> -->

 <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/css/chemicals.css" type="text/css" media="screen"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <body class="body body-chem">

    <!-- top logo- -->

      <header>
        <a href="/">
        <img src="assets/cmsSimple.png" width="20%" height="15%" alt="Color Me Straight inc. logo" class="logo">
        </a>
        <nav>
          <ul>
            <li><a href="/">Home</a</li>
            <li><a href="/color">Color</a></li>
            <li><a href="/chemicals">Thermal Reconditioning</a></li>
          </ul>
        </nav>
      </header>

      <section class="home-hero">
        <div class="container">
          <h1 class="title">Straight Up!
            <span></span>
          </h1>
            <a href="/rooms" class="button button-accent">Chat with us live</a>
        </div>
      </section>

      <!-- top logo  end-->

<!-- =========header====================================== -->
      <div class="w3-container w3">
        <h1>CHEMICAL HAIR STRAIGHTENERS</h1>
        <p>is the process of rearranging the basic structure of extremely curly hair into a straight or wavy form.</p>
        <p>
          These treatments can be done on color-treated hair and are effective on everything from waves to tight curls;</p>
           <p>they control frizz but maintain some texture and volume.</p>
            <p>Though you'll still need to blow-dry hair straight, the process will require less effort.</p>

        <p><b>The 2 most common types of chemical hair straighteners are thio(ATG) and hydroxide</b></p>
        <p></p>
        <p></p>
      </div>
<!-- ============header info===================================  -->

      <div class="coll-4">
          <div class="w3-container w3-chem">
            <h1>Thio Straighteners</h1>
            <p>Thio (<b>Ammonium Thioglycolate</b>) is the same reducing agent that is used in permanent waving.</p>
            <ul class= "unstyled-list" >
              <li>Have a pH above 10 and a higher concentration of a higher viscosity that is more suitable for application as a relaxer.</li>
              <li>Thio - breaks disulfide bonds and soften hair, just as in permanents. After enough bonds are broken, the hair is straightened into its new shape and the straightener is rinsed off from the hair.</li>
              <li>Follow with a neutraizer. The chemical reactions of thio straighteners are identical to those in permanent waving.</li>
            </ul>
        </div>
      </div>

      <div class="coll-4">
          <div class="w3-container w3-chem">
          <h1>Hydroxide Relaxers</h1>
          <p>is the process of rearranging the basic structure of extremely curly hair into a straight or wavy form.</p>
          <ul class="unstyled-list">
            <li>Hydroxide ion is the active ingredient in all <b>hydroxide relaxers</b>. Sodium hydroxide, potassium hydroxide, lithium hydroxide, and guanidine hydroxide are all types of hydroxide relaxers.</li>
            <li>All hydroxide relaxers are very strong alkalis that can swell the hair up to twice its normal size diameter.</li>
            <li><b>Hydroxide relaxers are not compatible with thio straighteners!</b> because they use a different chemistry.</li>
          </ul>
        </div>
      </div>

      <div class="coll-4">
          <div class="w3-container w3-chem">
            <h1>Thio Neutralization</h1>
            <p>The neutralizer used with thio straighteners is an oxidizing agent</p>
            <ul class= "unstyled-list" >
              <li>Hydrogen Peroxide, just as in permanents</li>
              <li>The oxidation reaction caused by the neutralizer rebuilds the disulfide bonds that were broken by the thio straightener.</li>
            </ul>
        </div>
      </div>

      <div class="coll-4">
          <div class="w3-container w3-chem">
            <h1>Hydroxide Neutralization</h1>
            <p>The neutralizer hydroxide relaxers does not involve oxidation.</p>
            <ul class= "unstyled-list" >
              <li>The deactivation(neutralization) of hydroxide relaxers neutralizes the alkaline residues left in the hair by the relaxer. The pH is so high that the hair remains at an extremely high pH, even after rinsing. Although rinsing is important! </li>
            </ul>
        </div>
      </div>

<!-- =========end====================================== -->

      <div class="chem chem-info">

        <div class="w3-row-padding">
          <div class="w3-third w3-light-pink">
            <h2><iframe width="300" height="280" src="https://www.youtube.com/embed/rtTZxcqGIiY" frameborder="0" allowfullscreen></iframe></h2>
            <h2><strong>Thermal Reconditioning</strong></h2>
            <span class="chem-header11">(also Thioglycolic acid / thiol)
            </span>
            <p>Japanese hair straightening - permanently straightening hair- This solution reacts chemically softening the inner structure of the hair by breaking some of the cross links within and between the protein chains of the hair. It promises to turn wavy, coarse, or curly hair into pin-straight locks by treating the hair with chemicals that give it its shape.</p><br>
            <p>This process uses a special flat iron that heats to precise temperatures to complement the work of the chemical solution. <br><br> <b>* Not compatible with Relaxer - Sodium hydroxide - will cause severe breakage *</b></p>

            <div class="hPage1">
                If you want something that lasts until your hair grows out...
                Thermal Reconditioning is best for bulky, loose to medium—but not kinky—curls. The hair is saturated with a solution containing a chemical that breaks the bonds that give each strand its shape; it is then rinsed, blow-dried, and meticulously flatironed. Once a neutralizer is applied, the hair is locked into this new, straight configuration.
                <br><br>
                The process can take up to eight hours the first time (depending on length and thickness); touch-ups require three to four hours. For three days after the treatment, you can't get your hair wet or do anything kink inducing (like wear a ponytail), and while your hair will now be sleek and shiny (even after air-drying), you're left with one styling option: bone-straight. Even curling irons or hot rollers won't restore volume or wave. Cost: $500 to $1,500.
            </div>
          </div>

          <div class="w3-third">
            <h2><iframe width="300" height="280" src="https://www.youtube.com/embed/823vNjvvj6I" frameborder="0" allowfullscreen></iframe></h2>
            <h2><strong>Relaxer - Sodium hydroxide </strong></h2>
            <span class="chem-header222">(also known as lye and caustic soda)</span>

            <p>Can soften coarse, tight curls; Strong chemical compounds Sodium hydroxide is a highly caustic base and alkali, that decomposes proteins at ordinary ambient temperatures and may cause severe chemical burns. It is highly soluble in water and readily absorbs moisture and carbon dioxide from the air. that break various bonds in the hair. The solution is left on for up to 20 minutes, rinsed, then neutralized. Cost: $50 to $250.</p>
            <p><b>* Not compatible with Thermal Reconditioning - Thioglycolic acid/thiol - will cause severe breakage *</b></p>

            <p><div class="hPage3">
              <br>
              <b>Keep in mind that...</b>since both of these treatments permanently change the structure of the hair, you have to continue them or endure a grow-out period. They contain damaging chemicals, so don't consider either one if your hair is already overprocessed. Tell the stylist everything you've done to your hair in the past two years—bleach and some hennas don't react well with the chemical in thermal reconditioning solutions, and colored hair may be too fragile to handle a relaxer, which is particularly harsh.
              </div></p>

              <p><div class="hPage4">
              If you want something that will smooth your hair until your next shampoo...
              ...a deep conditioner controls frizz by restoring moisture to the hair. Work the product from roots to ends, and slip on a plastic shower cap for 10 minutes (it traps heat from your scalp and helps conditioners penetrate the hair's cuticle), then rinse. No marathon salon visits or grow-out period necessary. Cost: $5 to $50 (for a tub of conditioner).
          </div></p>
          </div>

          <div class="w3-third">
            <h2><iframe width="300" height="280" src="https://www.youtube.com/embed/cYCqe3HanmI" frameborder="0" allowfullscreen></iframe></h2>
            <h2><strong>Brazilian Keratin Treatment </strong></h2>
              <span class="chem-header555">(also know as Formaldehyde)</span>
              <p>A semi-permanent hair straightening method done by temporarily sealing a liquid keratin and a preservative solution into the hair with a hair iron. Some versions of these treatments with an excessive amount of formaldehyde have been banned in several countries including Canada[1] and the European Union.[2] It is performed in the United States,[3] though there are regulations and have been controversies regarding the treatment.</p>
              <p><div class="hPage6">
                If you want something that wears off over two to four months...
                Some treatments, like Brazilian straightening (brand names include Brazilian Keratin Treatment and Brazilian Blowout) and Keratin Complex Hair Therapy, smooth the surface of the hair but don't permanently break bonds, so your natural texture gradually returns.
                <br><br>
               The Brazilian treatments, however, have been shown to contain varying amounts of formaldehyde (a carcinogen that poses health risks when inhaled), in addition to keratin protein.
               <br><br>
              The makers of Keratin Complex Hair Therapy say their product uses a "captured form of formaldehyde," and that any formaldehyde gas released during the treatment is below the exposure limit set by the Occupational Safety and Health Administration.
              <br>
              (Stylists attest that it does not have the noxious odor of the Brazilian treatments, but independent testing has not demonstrated how much formaldehyde is released during use.) After the product is applied, the hair is blow-dried, then flatironed; the solution stays in the hair until you shampoo three to four days later. Cost: $300 to $800.
              <br><br>

                  <!-- Keep in mind that...a treatment containing formaldehyde could compromise your health.</p> -->

          </div>
        </div>
      </div>

      <!--call to action  -->

      <section class="cta-cta">
        <div class="container">
          <h1 class="title title-cta-cta">
            <span>Keep reading for more tips on caring for your newly straightened hair.</p></span>
              <h3>Most professionals will conduct a strand test to determine your hair’s porosity and see whether coloring is advisable. If a stylist advises against coloring, take their advice. You’ll always be able to find someone who will take your money regardless of your best interests.  But coloring your hair before it’s ready can lead to months of regret!</h3><br><br>
            </h1>


            <a href="/rooms" class="button button-dark">Chat live</a>
        </div>
      </section>


      <div class="container container-footer">

        <footer>
          <div class="coll-4">

            <!-- <p><b>So you’ve gone to the salon</b> and spent several hours (not to mention several dollars!) on your newly straightened hair. Before you go decide to go for a swim or take shower, keep in mind that moisture on your hair within 48 to 72 hours can have disastrous effects.</p>

            <p><b>Wait before Coloring</b> after the procedure avoid coloring your hair for at least two weeks, as this can increase the tension on your already stressed hair. Your hair strands are delicate and need sufficient time to recover before they are altered once more.</p> -->

            <p><b>Shampooing & Blow Drying</b>
            to maintain a sleek hair-do, you need specially chosen shampoo and conditioners that work well with soft hair and will not cause excess damage with their chemical content. Avoid blow drying your hair for several days. Even after this phase it is always a good idea to use a thermal protector to shield hair from heat damage caused by hairdryers and flat irons. For even more amazing hair, use oil from time to time, to make hair more shiny and silky.</p>

            <p><b>If your hair does happen to accidentally get wet</b> during this time, blow it dry with the dryer pointed down towards the ends of your hair. Keep it moving so that all the heat isn’t concentrated on one spot. Then gently iron the wet area at a low temperature (250 to 265 degrees Fahrenheit).</p>
          </div>

          <div class="coll-2">
            <ul class="unstyled-list">
              <li><b>Moisture is Your Enemy</b></li>
              <li>Following the Japanese hair straightening procedure, it is important to provide sufficient attention to your new look so that it stays the way you want it. Although you have left the salon, the neutralizer is still re-bonding the hair and would be disturbed by water as it needs continuous access to oxygen.</li>

            </ul>
          </div>

          <div class="coll-2">
            <ul class="unstyled-list">
              <li><b>Washing your hair </b>can be tempting, but avoid this at all costs since the reconditioning process takes quite some time to settle in.  Rain, humidity, or even a steamy shower are your enemies! Even perspiration from working out is a no no. Moisture can make parts of your hair do strange things and ruin all the time effort and money that went into your procedure.</li>

            </ul>
          </div>

          <div class="coll-2">
            <ul class="unstyled-list">
              <li><b>Thermal Reconditioning</b> Touch Ups although thermal reconditioning is a permanent hair straightening technique, your hair will grow out over time. After six to nine months you will likely need a touch up to straighten the new growth. The time frame will depend upon how quickly your hair grows and the strength of its curl.</li>

            </ul>
          </div>
        </footer>
      </div>

      <a href="#" class="w3-button w3-dark-grey w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      <div class="w3-xlarge w3-section">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <!-- <i class="fa fa-snapchat w3-hover-opacity"></i> -->
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
          <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>


  </body>
