<!-- <h1>Chemicals#index</h1>
<p>Find me in app/views/chemicals/index.html.erb</p> -->

 <meta charset= "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/css/chemicals.css" type="text/css" media="screen"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <body class="body body-chem">

    <!-- top header - -->

      <header>
        <a href="/">
        <img src="assets/cmsSimple.png" width="20%" height="15%" alt="Color Me Straight inc. logo" class="logo">
        </a>
        <nav>
          <ul>
            <li><a href="/">Home</a</li>
            <li><a href="/color">Color</a></li>
            <li><a href="/chemicals">Thermal Reconditioning</a></li>
          </ul>
        </nav>
      </header>

      <section class="home-hero">
        <div class="container">
          <h1 class="title">an online Education Center
            <span></span>
          </h1>
            <a href="/rooms" class="button button-accent">Chat with us live</a>
        </div>
      </section>

      <!-- top header  end-->











  </body>
