// Place all the styles related to the chemicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// logo header on page

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.body-chem {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: image-url('blockColor.jpg');
}

.img {
  max-width: 100%;
  height: auto;
}

body {
    display: block;
    margin: 8px;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


h2 {
    font-size: 2em;
}

// user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }





// ************-changes beautylogo5 position
.container {
  width: 95%;
  max-width: 90em;
  margin: 0 auto;
}

.w3-chem {
  position: relative;
  background: #fbefcc;
  font-size: 1em;
  margin: 2em;
  font-weight: 300;
  margin-top: 1em;
  text-align: justify;

}

.clearfix::after,
section::after,
.undertones::after
footer::after {
  content: '';
  display: block;
  clear: both;
}

// **column system
// - want them all to float left
// any class that starts w/col (selector (^=))
// ================================

[class^=coll-] {
  width: 100%;
  margin-top: 1em;
  padding: 0 .5em;
}

[class^=coll-]:first-child {
  margin-top: 0;
}

.coll-2 {
  width: 33.333334%;
  float: left;
}


@media (min-width: 40rem) {
  [class^=coll-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=coll-]:first-child {
    padding-left: 0;
  }

  [class^=coll-]:last-child {
    padding-right: 0;
  }
  .coll-4 {
    width: 50%;
  }

  .coll-2 {
    width: 16.6666%;
  }
}


// typyography
// Top title
// ================================

.title {
  font-size: 2.5rem;
  margin-bottom: 2em;
  font-weight: 900;
  margin-top: 1em;
}

// for color font - goto .home-hero
.title span {
  font-weight: 300;
  display: block;
  font-size: 2.5rem;
}

// controls padding - all around - (Like what you see)
.title-cta {
  margin: 0 0 .5em;
}


// bottom footer
// ================================

.title-cta-cta {
  font-size: 1rem;
  margin-bottom: 2em;
  font-weight: 300;
  margin-top: 1em;
}

// for color font - goto .home-hero
.title-cta-cta span {
  font-weight: 300;
  display: block;
  font-size: 2.5rem;
}

// controls padding - all around - (Like what you see)
.title-cta-cta {
  margin: 0 0 .5em;
  font-weight: 300;
}


// ==================================



@media (min-width: 60rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .w3-chem {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .title {
    font-size: 3.7rem;
  }

  .title-cta-cta {
    font-size: 1em;
    font-weight: 300;
  }

}



// header - CMS logo - corner left on lg screen
// nav - top - position - nav li
// ================================

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7rem;
  padding: .1rem;
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #000;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  .nav {
    float: right;
  }
}

.home-hero {
  background: image-url('blockColor.jpg');
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  text-transform: capitalize;
  color: #FFF;
  background-attachment: fixed;
}

.chem-video {
  height: 280px;
  padding-top:16px;
}

@media (min-width: 60rem) {
   .home-hero {
     height: 100vh;
     padding-top: 38vh;
   }
   .chem-video {
     height: 280px;
     padding-top: 16px;
   }
}

// / cta - call to action
// ================================

.cta-cta {
  background: #bdcebe;
  padding: 5em 0;
}

// footer
// ================================

 footer{
   color: #000;
   text-align: left;
   padding: 4em 0;

 }
