// Place all the styles related to the chemicals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// logo header on page

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}
.body-chem {
  margin: 0;
  padding: 3rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #000;
}

.body-chem {
  position: absolute;
  background: image-url('blockColor.jpg');
  background-position: center;
  background-size: auto;
  margin-top: 1em;
  padding-right: 3em;
  z-index: -200;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.clearfix::after,
footer::after {
  content: '';
  display: block;
  clear: both;
}

// logo header on page

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5rem;
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #000;
}

@media only screen and (min-width: 60rem) {
  .logo {
    float: left;
  }

  .nav {
    float: right;
  }
}

// ===========================================================================

table {
    display: inline-table;
    margin: -1em;
    border: solid 6px;
    border-width: 14px;
    border-spacing: 2px;
    border-color: #7C787A;



}
table th, table td {
    background-color: #7C787A;
}

// ===========================================================================

// **column system
// - want them all to float left
// any class that starts w/col (selector (^=))
// ===========================================================================

[class^=coll-] {
  width: 100%;
  margin-top: 1em;
}

[class^=coll-]:first-child {
  padding-top: 0;
}

.coll-2 {
  width: 33.333334%;
  float: left;
}


@media only screen and (min-width: 40rem) {
  [class^=coll-] {
    float: left;
    padding: 0 .5em;
    margin-top: 0;
  }

  [class^=coll-]:first-child {
    padding-left: 0;
  }

  [class^=coll-]:last-child {
    padding-right: 0;
  }
  .coll-4 {
    width: 40%;
  }

  .coll-2 {
    width: 16.6666%;
  }
}
// ===========================================================================

// controls padding - all around - (Like what you see)
.title-cta {
  margin: 0 0 .5em;
}

.unstyledList {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 60rem) {
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .title {
    font-size: 3.7rem;
  }
}

// ===========================================================================

#para1 {
  position: absolute;
  // padding-left: 445;
  top: 40px;
  text-align: center;
  font-family: 'Antic Slab', serif;
  font-size: 50px;
  z-index: 1;
  border-radius: 9px;
  // border: 200em;
  background-color: #9C90A3;
}

#education-center {
  position: absolute;
  // padding-left: 530px;
  top: 120px;
  text-align: center;
  font-family: 'Antic Slab', serif;
  font-size: 19px;
  z-index: 1;
}
//
//
//

// }
//
//
