// Place all the styles related to the color controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


// selects everything - making padding/margins easy -
// ================================

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}
.body-color {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: lightyellow;
}

.img {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 60rem) {
  .body-color {
    float: left;
  }

  .body-body {
    float: right;
  }
}

// .container {
//   width: 95%;
//   max-width: 90em;
//   margin: 0 auto;
// }

.clearfix::after,
section::after,
footer::after {
  content: '';
  display: block;
  clear: both;
}


// logo header on page
// typyography
// ================================

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5rem;
  color: #FFF;
}

nav a:hover,
nav a:focus {
  color: #000;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  .nav {
    float: right;
  }
}

.color-hero {
  background: image-url('colorwheel2.jpg');
  background-size: cover;
  background-position: center;
  padding: 8em 0;
  text-transform: capitalize;
  color: #FFF;
  background-attachment: fixed;
}

@media (min-width: 60rem) {
   .color-hero {
     height: 100vh;
     padding-top: 38vh;
   }
}

// =======================================================================

// home-about
// vw (viewport width)
// outline-offset - like borders
// helps to center (left: 50%;transform: translateX(-50%);)
//
// ================================

.color-about-textbox {
  position: relative;
  background-color: #D63A99;
  padding: 4em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid #FE4A49;
  outline-offset: -2.5em;
  color: #FFF;
}

.color-about-textbox h1 {
  color: #1A2212;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .10em;
  background: #D63A99;
  padding: 0 .145em;
}

@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }
  .color-about-textbox h1 {
    top: .6em;
    padding: 0 .325em;
  }
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }
  .color-about {
    background: image-url('colore.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10em;

  }

  // *****who we are- position
  //margin-left control position of pink-box
  // ===============================
  .color-about-textbox {
    width: 45%;
    padding: 5.5em;
    outline-offset: -3.75em;
    margin-left: -2.5%;
    top: -5em;
    text-align: left;
    box-shadow: 0 0 3em 0 rgba(0,0,0,.2);
  }
  .color-about-textbox h1 {
    top: .35em;
    left: 6rem;
    transform: translateX(0);
    padding: 0 .10em;
  }
}
// =======================================================================
  #para1 {
    position: absolute;
    padding-left: 445;
    top: 40px;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 50px;
    z-index: 1;
    border-radius: 9px;
    border: 200em;
    background-color: #9C90A3;
  }

  #education-center {
    position: absolute;
    padding-left: 530px;
    top: 120px;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 19px;
    z-index: 1;
  }



  .mySlides {
    display:none
  }

  .w3-tag, .fa {
    cursor:pointer
  }

  .w3-tag {
    height:15px;
    width:15px;
    padding:0;
    margin-top:100px
  }


  #plans {
    margin-top: 0;
  }

  // ==============================================

  h3,h4 {
    font-family:"Lato", sans-serif
  }

  p {
    margin-top: 0;
    line-height: 1.5;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .title-color {
    font-size: 2.5rem;
    margin-bottom: 2em;
    font-weight: 900;
    margin-top: 1em;
    color: #000;
  }

  // for color font - goto .home-hero
  .title span {
    font-weight: 300;
    display: block;
    font-size: 2.5rem;
  }


  @media (min-width: 60rem) {
    p {
      font-size: 1.2rem;
      line-height: 1.6;
    }

    .title-color {
      font-size: 3.7rem;
    }
    .undertones {
      font-size: 1.2rem;
    }
  }
//  buttons
// ==============================================

  .button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
  }

  @media (min-width: 60rem) {
    .button {
      font-size: 1.5rem;
    }
  }

  .button-accent {
    color: #D63A99;
  }

  .button-accent:hover,
  .button-accent:focus {
    background: #F3F5B4;
    color: #232323;
  }


  // ==============================================

  [class^=col-] {
    width: 100%;
    margin-top: 1em;
    padding: 0 .5em;
  }

  [class^=col-]:first-child {
    margin-top: 0;
  }

  .col-1 {
    width: 33.333334%;
    float: left;
  }


  @media (min-width: 40rem) {
    [class^=col-] {
      float: left;
      padding: 0 .5em;
      margin-top: 0;
    }

    [class^=col-]:first-child {
      padding-left: 0;
    }

    [class^=col-]:last-child {
      padding-right: 0;
    }
    .col-3 {
      width: 50%;
    }

    .col-1 {
      width: 16.6666%;
    }
  }
