// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

//logo header on page
  #para-b1 {
    position: relative;
    padding-left: 445;
    top: 40px;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 50px;
    z-index: 1;
    border-radius: 9px;
    border: 200em;
    background-color: #9C90A3;
  }

  #education-center-1 {
    position: fixed;
    padding-left: 530px;
    top: 120px;
    text-align: center;
    font-family: 'Antic Slab', serif;
    font-size: 19px;
    z-index: 1;
  }


//fixed nav bar for Action cable / chat room

.room-rooms {
 font-family: 'Vast Shadow', cursive;
 position: fixed;
 top: 50px;
 left: 10px;
 width: 100%;
 color: #454545;
 height: 85px;
}
// .nav-rooms a {
//   text-decoration: none;
//   color: #454545;
// }
//
// .nav-rooms a:hover {
//   color: #feccc9;
// }
// ////////////////////

.reset_2, caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

blockquote {
  quotes: none;
}
blockquote:before {
  content: "";
  content: none;
}
blockquote:after {
  content: "";
  content: none;
}

q {
  quotes: none;
}
q:before {
  content: "";
  content: none;
}
q:after {
  content: "";
  content: none;
}

// channels header
// .header {
//   position: fixed;
//   top: 200px;
//   left: 50px;
//   height: 53px;
//   width: 100%;
// }

// sidebar height
.main {
  position: fixed;
  left: 50px;
  top: 250px;
  height: 260px;
}
// textarea input box
.footer {
  position: fixed;
  left: -10em;
  bottom: 145px;
  height: 14px;
  width: 100%;
}


// display of inside sidebar user/listing
// .listings {
//   height: 400px;
//   width: 251px;
//   float: left;
//   color: #ab9ba9;
//   background-color: #AFAFAF;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

.message-history {
  margin-left: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 18px 1rem 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

// .listings_channels {
//   margin: 1rem 0 2rem;
// }
//color me straight header in side the shadow box
.listings_header {
  text-align: left;
  font-size: 18px;
  line-height: 1.25rem;
  margin: 0 1rem 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #575757;
  width: 265px;
  position: relative;
}

// .channel_list {
//   list-style-type: none;
//   text-align: justify;
//   color: #ab9ba9;
// }

//text in side the shadow box
.channel {
  height: 24px;
  line-height: 24px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-right: 17px;
  color: #ffffff;
  padding-left: 1rem;
}
.channel.active {
  background: #898989;
}


.disclaimer {
  font-size: 0.8rem;
  padding-left: 1rem;
  margin-right: 17px;
}

// img lady icon positionin
.message {
  position: relative;
  // left: 100px;
  margin-top: 0.5rem;
  padding: 0.25rem 2rem 0.1rem 3rem;
  min-height: 36px;
}

// img lady icon
.message_profile-pic {
  position: absolute;
  left: 0;
  display: block;
  border-radius: 0.2rem;
  width: 36px;
  height: 36px;
  // background-image: image-url("colorimg.jpg)";
  background-size: cover;
}

// font control of chat box
.message_username {
  font-weight: 900;
  padding-right: 0.25rem;
  color: #3d3c40 !important;
  margin-left: 0;
  font-style: normal;
  text-decoration: none;
}

.message_timestamp {
  text-align: left;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  color: #9e0ea0;
  font-size: 12px;
  line-height: 1.2rem;
  width: 36px;
  margin-right: 0;
  margin-left: 0;
}

.message_content {
  color: #2c2d30;
  display: block;
  min-height: 1rem;
}

// bottom logout box
.user-menu {
  float: left;
  width: 220px;
  height: 100%;
  cursor: pointer;
  background: #D5A3C0;
  border-top: 2px solid #372c36;
  padding: 7px 0 9px 8px;
  height: 4rem;
  position: fixed;
  bottom: 150px;
  left: 50px;
}

// users lady icon
.user-menu_profile-pic {
  display: inline-block;
  float: left;
  border-radius: 0.2rem;
  width: 48px;
  height: 48px;
  background-image: image-url("colorimg.jpg");
  background-size: cover;
  margin-right: 8px;
}

// bottom logout box font design
.user-menu_username {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.5rem;
  margin-top: 0.2rem;
  max-width: 120px;
  left: 150px;
}



// logout botton control size and size
.logout a:link {
  font-style: italic;
  color: black;
  font-size: 20px;
}

.input-box {
  height: 100%;
  margin-left: 220px;
}

.input-box_text {
  font-size: 12px;
  width: 50%;
  margin-left: 2%;
  margin-bottom: auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
  background-clip: padding-box;
  color: #3d3c40;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 41px !important;
  padding: 9px 5px 9px 8px;
}

// devise sign-up /////////

.devise-alert {
  position: fixed;
  top: 200px;
  left: 450px;
  font-size: 18px;
}

.signupDevise {
  font-size: 1rem;
  margin-bottom: 2em;
  font-weight: 900;
  margin-top: 1em;
}

// devise sign-in /////////

.loginDevise {
  font-size: 1rem;
  margin-bottom: 2em;
  font-weight: 900;
  margin-top: 1em;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  // top: .75em;
  // height: 150px;
  // width: 250px;
  // padding: 10px;
}

.userLinks {
  font-size: 1rem;
  margin-bottom: 2em;
  font-weight: 900;
  margin-top: 1em;
}

//devise forget pwd

.forgetpwdDevise {
  // position: fixed;
  top: 300px;
  left: 200px;
}

//////Devise para

.paraDevise {
  // position: fixed;
  text-align: center;
  top: 230px;
  left: 410px;
  height: 400px;
  width: 650px;
  font-size: 16px;
  font-family: 'HelveticaNeue', cursive;
  border: solid  17px #E7E7E7;
  background-color: #E7E7E7;

}

//devise signup page

.signupPara{
  // position: fixed;
  text-align: center;
  top: 230px;
  left: 500px;
  height: 400px;
  width: 550px;
  font-size: 16px;
  font-family: 'HelveticaNeue', cursive;
  border: solid  17px #E7E7E7;
  background-color: #E7E7E7;
  border-radius: 3;
}

  // input[type="text"], input[type="email"], input[type="password"], textarea {
	// width: 50%;
	// border: 1px solid #d6dce0;
	// border-radius: .35em;
	// margin-top: 10px;
	// padding: .5em 1em;
	// line-height: 1.75;

// }


input[type="text"] {
	height: 35px;
  margin-left: .5em;
}
textarea {
  margin-left: .5em;
	min-height: 80px;
}

input[type="submit"] {
	outline: none;
	background: transparent;
	border: 1px solid #d6dce0;
	padding: .5em 1.5em;
	font-size: .9em;
	border-radius: 1.5em;
	margin-left: .5em;
	&:hover {
		border: 1px solid #33acb7;
		color: #33acb7;
	}
}
